#https://es.stackoverflow.com/questions/112525/no-funciona-correctamente-gitignore-al-versionar-un-proyecto-android


BTH-WebServices/build/web/WEB-INF/classes/dal/ConexionMySQL.class
/Aplicacion-Web/BTH-WEB/nbproject/private/
/BTH-WebServices/nbproject/private/
/BTH-WebServices/build/
/BTH-WebServices/dist/